<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/PATAN MUNNA/IdeaProjects/appium-cucumberbdd-master/src/test/java/com/qa/runners/MyRunnerTest.java"><classes/></test></suite>